<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LPAutoCut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LPAutoCut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LPAutoCut.Properties.Settings>
            <setting name="AlertChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertTime" serializeAs="String">
                <value>00:20:00</value>
            </setting>
            <setting name="TimerStartStopKey" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="EpisodeStartStopKey" serializeAs="String">
                <value>118</value>
            </setting>
            <setting name="CutMarkerKey" serializeAs="String">
                <value>114</value>
            </setting>
            <setting name="EditMarkerKey" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="MarkMarkerKey" serializeAs="String">
                <value>115</value>
            </setting>
        </LPAutoCut.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LPAutoCut.Properties.Settings>
            <setting name="TimeCodeExportFormat" serializeAs="String">
                <value>h\:mm\:ss\.f</value>
            </setting>
            <setting name="JSXTempFileName" serializeAs="String">
                <value>LPAutoCut.temp.jsx</value>
            </setting>
            <setting name="MKRTempFileName" serializeAs="String">
                <value>LPAutoCut.temp.txt</value>
            </setting>
            <setting name="JSXResFileName" serializeAs="String">
                <value>LPAutoCut.SetMarker.jsx</value>
            </setting>
            <setting name="TimeCodeDisplayFormat" serializeAs="String">
                <value>h\:mm\:ss\.f</value>
            </setting>
        </LPAutoCut.Properties.Settings>
    </applicationSettings>
</configuration>